.itemCard {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    max-width: 225px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr;
}

.listImage {
    max-width: 80%;
    grid-column: 1 / span 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-headline { 
    grid-column: 1 / span 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    margin: 0;
    font-size: 1em;
}

.addItem-btn {
    border-radius: 4px;
    cursor: pointer;
    justify-self: center;
    grid-column: 1 / span 3;
    grid-row: 3;
    align-self: center;
}

.info-btn {
    border-radius: 4px;
    cursor: pointer;
    justify-self: center;
    grid-column: 1 / span 3;
    grid-row: 4;
    align-self: center;
}

.modal-body {
    padding: 15px 15px 0 15px;
}

.modal-body p {
    font-size: .9em;
}

.modal-image {
    max-width: 200px;
    float: right;
    margin-bottom: 5px;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.75);
}

.infoModal-h5 {
    font-weight: bold;
}

.editItem-btn {
    border-radius: 4px;
    cursor: pointer;
    justify-self: right;
    grid-column: 2;
    grid-row: 3; 
    align-self: center;
}

.deleteItem-btn {
    border-radius: 4px;
    cursor: pointer;
    justify-self: right;
    grid-column: 3;
    grid-row: 3;
    align-self: center;
}

.info-btn {
    border-radius: 4px;
    cursor: pointer;
    justify-self: center;
    grid-column: 1 / span 3;
    grid-row: 4;
    align-self: center;
}

a.buy-btn {
    text-decoration: none;
    border-radius: 4px;
    background-color: blue;
    color: $colorF;
    padding: 8px;
}

.modalStyle {
    color: black;
}

form label {
    padding: 15px 0 0 0;
    font-family: $font2;
    margin: 0;
}